body {
  font-family: Arial, sans-serif;
  background: #f7f9fc;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 14px 22px;
  margin: 10px;
  background-color: #0a6cff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
}

.btn-doar {
  background-color: #2ca66f;
}


